In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [32]:
df = pd.read_csv("../data/raw/instagram_data_indonesia.csv")
df.head()

,#,NAME,FOLLOWERS,ER,COUNTRY,TOPIC OF INFLUENCE,POTENTIAL REACH
0,1,Raffi Ahmad and Nagita Slavina @raffinagita1717,75.3M,0.21%,Indonesia,Entertainment and Music family Celebrity Marke...,22.6M
1,2,Ayu Tingting @ayutingting92,56.8M,0.02%,Indonesia,Beauty and Self Care Celebrity Music Lifestyle,17M
2,3,Prilly Latuconsina @prillylatuconsina96,55.7M,0.02%,Indonesia,Entertainment and Music Fashion and Accessorie...,16.7M
3,4,Ruben Onsu @ruben_onsu,45.1M,0.15%,Indonesia,Beauty and Self Care Actors Music,13.5M
4,5,SYAHRINI @princessyahrini,44.2M,0.3%,Indonesia,Celebrity Parenting Singer,13.2M

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   #                   100 non-null    int64
 1   NAME                100 non-null    object
 2   FOLLOWERS           100 non-null    object
 3   ER                  100 non-null    object
 4   COUNTRY             100 non-null    object
 5   TOPIC OF INFLUENCE  99 non-null     object
 6   POTENTIAL REACH     100 non-null    object
dtypes: int64(1), object(6)
memory usage: 5.6+ KB

In [35]:
df.drop(columns=["#", "COUNTRY", "POTENTIAL REACH"], inplace=True)
df.head()

,NAME,FOLLOWERS,ER,TOPIC OF INFLUENCE
0,Raffi Ahmad and Nagita Slavina @raffinagita1717,75.3M,0.21%,Entertainment and Music family Celebrity Marke...
1,Ayu Tingting @ayutingting92,56.8M,0.02%,Beauty and Self Care Celebrity Music Lifestyle
2,Prilly Latuconsina @prillylatuconsina96,55.7M,0.02%,Entertainment and Music Fashion and Accessorie...
3,Ruben Onsu @ruben_onsu,45.1M,0.15%,Beauty and Self Care Actors Music
4,SYAHRINI @princessyahrini,44.2M,0.3%,Celebrity Parenting Singer

In [36]:
df.isnull().sum()

NAME                  0
FOLLOWERS             0
ER                    0
TOPIC OF INFLUENCE    1
dtype: int64

In [ ]:
unique_topics = df["TOPIC OF INFLUENCE"].unique()
print(unique_topics)
print("Jumlah nilai unik:", len(unique_topics))

['Entertainment and Music family Celebrity Marketing and Advertising'
 'Beauty and Self Care Celebrity Music Lifestyle'
 'Entertainment and Music Fashion and Accessories Celebrity Actors'
 'Beauty and Self Care Actors Music' 'Celebrity Parenting Singer'
 'Fashion and Accessories Celebrity Modeling Cars & Motorcycles'
 'Acting and Drama Health and Medical Services Music of Asia Singer'
 'family Music of Asia Singer'
 'Beauty and Self Care Entertainment and Music Celebrity Marketing and Advertising'
 'Musician'
 'Entertainment and Music Music Auto and Vehicles Business and Finance'
 'Beauty and Self Care Product Modeling'
 'Entertainment and Music Celebrity Singer' 'family Food Celebrity Actors'
 'Beauty and Self Care Fashion and Accessories Celebrity'
 'Fashion and Accessories' 'family Music Singer' 'Art Actors Lifestyle'
 'Entertainment and Music Romance and Wedding Celebrity Celebrities' nan
 'Entertainment and Music Singer Music'
 'Fashion and Accessories Celebrity Lifestyle Actors'
 'Fashion and Accessories Business and Finance Actors'
 'Beauty and Self Care Entertainment and Music Celebrity Modeling'
 'Acting and Drama Entertainment and Music Celebrity News'
 'family Celebrity Modeling Cars & Motorcycles'
 'Education Upskilling Music Modeling' 'Celebrity Producers'
 'Beauty and Self Care family Celebrity Actors'
 'Entertainment and Music Funny Celebrity' 'Politics Architecture'
 'Beauty and Self Care Celebrity Actors' 'Fashion and Accessories Actors'
 'Entertainment and Music Music Lifestyle DJ'
 'Business and Finance Music Singer'
 'Education Entertainment and Music Music Celebrity'
 'Pets Modeling Singer' 'Entertainment and Music Celebrity Actors'
 'Beauty and Self Care Actors'
 'Fashion and Accessories Product Showcase Film, Music & Books Cars & Motorcycles'
 'Finance Celebrity Actors Actor'
 'family Entertainment and Music Romance and Wedding Celebrity'
 'Fashion and Accessories Music Moms Singer'
 'Business and Finance Celebrity Actors'
 'Education Celebrity Lifestyle Actors' 'Fitness Actors Music Singer'
 'Beauty and Self Care Celebrity Celebrities Film, Music & Books'
 'Actors Comedy' 'Animals Music Celebrity Food and Drink'
 'Fashion and Accessories Nature Parenting Actors'
 'Music Actors Film, Music & Books Celebrities' 'Music'
 'Arts and Crafts Celebrity Business Product'
 'Entertainment and Music Celebrity Mixed martial arts'
 'Product Showcase Celebrity Singer'
 'Beauty and Self Care Fashion and Accessories Business and Finance'
 'Beauty and Self Care Product Education Product Showcase Celebrity'
 'Art Beauty and Self Care' 'family Music'
 'Arts and Crafts Illustrator Celebrities' 'Celebrity Modeling'
 'Entertainment and Music' 'Modeling' 'Auto and Vehicles Celebrity Actors'
 'Travel Celebrity Actors'
 'Fashion and Accessories Celebrity Business and Finance Moms'
 'Education Upskilling'
 'Acting and Drama Beauty and Self Care Celebrity Actors'
 'Acting and Drama family Outdoor Activity Education'
 'Business and Finance Entrepreneur' 'Finance Celebrity Actors'
 'Entertainment and Music Celebrity Modeling Singer'
 'Fashion and Accessories Celebrity Singer Film, Music & Books'
 'Product Showcase Celebrity Business'
 'Business and Finance Video Blogger'
 'Finance Business and Finance Actors'
 'Finance Business and Finance Entrepreneur'
 'Education Upskilling Celebrity Actors' 'Education'
 'Entertainment and Music Music Singer'
 'Celebrity Actors Celebrities Cars & Motorcycles'
 'Romance and Wedding Entertainment and Music Marketing and Advertising Children'
 'Beauty and Self Care Celebrity Business Music'
 'Acting and Drama Fashion and Accessories Celebrity Actors'
 'Education Speaker'
 'Life and Society Celebrity Singer Cars & Motorcycles'
 'Entertainment and Music Celebrity Cars'
 'Entertainment and Music Music Celebrity Actors' 'Education Politics'
 'Beauty and Self Care Product Showcase Actors'
 'Beauty and Self Care Blogger' 'Celebrity' 'Beauty'
 'Fashion and Accessories Product Showcase Music Singer'
 'Fashion and Accessories Video Blogger' 'Celebrity Modeling Moms'
 'family Entertainment and Music Modeling' 'Celebrity Actors']
Jumlah nilai unik: 98

In [38]:
def categorize_topic(topic):
    if pd.isna(topic):
        return "Unknown"
    topic = topic.lower()
    if any(word in topic for word in ['entertainment', 'music', 'musician', 'singer', 'funny', 'acting', 'drama', 'celebrity', 'modeling']):
        return "Entertainment"
    elif any(word in topic for word in ['fashion', 'accessories', 'beauty', 'self care', 'lifestyle']):
        return "Fashion & Beauty"
    elif any(word in topic for word in ['education', 'upskilling', 'business', 'finance', 'politics', 'architecture']):
        return "Education & Career"
    elif any(word in topic for word in ['food', 'travel', 'tourism']):
        return "Food & Travel"
    elif any(word in topic for word in ['family', 'parenting', 'moms', 'kids']):
        return "Family & Parenting"
    elif any(word in topic for word in ['health', 'fitness', 'medical', 'wellness']):
        return "Health & Fitness"
    elif any(word in topic for word in ['art', 'photography', 'romance', 'wedding', 'crafts']):
        return "Art & Creative"
    else:
        return "Other"

# Terapkan ke kolom
df["TOPIC_CATEGORY"] = df["TOPIC OF INFLUENCE"].apply(categorize_topic)

# Lihat hasilnya
print(df["TOPIC_CATEGORY"].value_counts())

TOPIC_CATEGORY
Entertainment         74
Fashion & Beauty      13
Education & Career    10
Unknown                1
Other                  1
Art & Creative         1
Name: count, dtype: int64

In [39]:
df.head(10)

,NAME,FOLLOWERS,ER,TOPIC OF INFLUENCE,TOPIC_CATEGORY
0,Raffi Ahmad and Nagita Slavina @raffinagita1717,75.3M,0.21%,Entertainment and Music family Celebrity Marke...,Entertainment
1,Ayu Tingting @ayutingting92,56.8M,0.02%,Beauty and Self Care Celebrity Music Lifestyle,Entertainment
2,Prilly Latuconsina @prillylatuconsina96,55.7M,0.02%,Entertainment and Music Fashion and Accessorie...,Entertainment
3,Ruben Onsu @ruben_onsu,45.1M,0.15%,Beauty and Self Care Actors Music,Entertainment
4,SYAHRINI @princessyahrini,44.2M,0.3%,Celebrity Parenting Singer,Entertainment
5,Natasha Wilona @natashawilona12,43.3M,0.24%,Fashion and Accessories Celebrity Modeling Car...,Entertainment
6,Laudya Cynthia Bella @laudyacynthiabella,39.7M,0.08%,Acting and Drama Health and Medical Services M...,Entertainment
7,Gisella Anastasia @gisel_la,39.1M,0.05%,family Music of Asia Singer,Entertainment
8,Luna Maya @lunamaya,38.1M,0.07%,Beauty and Self Care Entertainment and Music C...,Entertainment
9,@raisa6690,37.8M,0.12%,Musician,Entertainment

In [40]:
missing_topic = df[df["TOPIC OF INFLUENCE"].isna()]
print(missing_topic)

                               NAME FOLLOWERS     ER TOPIC OF INFLUENCE  \
19  Shireen Sungkar @shireensungkar     28.7M  0.14%                NaN

   TOPIC_CATEGORY
19        Unknown

In [41]:
df.loc[df['NAME'].str.contains("shireensungkar", case=False, na=False), 'TOPIC_CATEGORY'] = "Entertainment"

In [42]:
df.drop(columns=["TOPIC OF INFLUENCE"], inplace=True)
df.head()

,NAME,FOLLOWERS,ER,TOPIC_CATEGORY
0,Raffi Ahmad and Nagita Slavina @raffinagita1717,75.3M,0.21%,Entertainment
1,Ayu Tingting @ayutingting92,56.8M,0.02%,Entertainment
2,Prilly Latuconsina @prillylatuconsina96,55.7M,0.02%,Entertainment
3,Ruben Onsu @ruben_onsu,45.1M,0.15%,Entertainment
4,SYAHRINI @princessyahrini,44.2M,0.3%,Entertainment

In [43]:
print(df["TOPIC_CATEGORY"].value_counts())

TOPIC_CATEGORY
Entertainment         75
Fashion & Beauty      13
Education & Career    10
Other                  1
Art & Creative         1
Name: count, dtype: int64

In [44]:
df.head()

,NAME,FOLLOWERS,ER,TOPIC_CATEGORY
0,Raffi Ahmad and Nagita Slavina @raffinagita1717,75.3M,0.21%,Entertainment
1,Ayu Tingting @ayutingting92,56.8M,0.02%,Entertainment
2,Prilly Latuconsina @prillylatuconsina96,55.7M,0.02%,Entertainment
3,Ruben Onsu @ruben_onsu,45.1M,0.15%,Entertainment
4,SYAHRINI @princessyahrini,44.2M,0.3%,Entertainment

In [46]:
def parse_number(value):
    if isinstance(value, str):
        value = value.strip().upper().replace(",", "")
        if 'M' in value:
            return float(value.replace('M', '')) * 1_000_000
        elif 'K' in value:
            return float(value.replace('K', '')) * 1_000
        else:
            try:
                return float(value)
            except:
                return None
    return value

df['FOLLOWERS'] = df['FOLLOWERS'].apply(parse_number)

In [47]:
def parse_percentage(value):
    if isinstance(value, str) and '%' in value:
        return float(value.replace('%', '')) / 100
    return value

df['ER'] = df['ER'].apply(parse_percentage)

In [48]:
df.head()

,NAME,FOLLOWERS,ER,TOPIC_CATEGORY
0,Raffi Ahmad and Nagita Slavina @raffinagita1717,75300000.0,0.0021,Entertainment
1,Ayu Tingting @ayutingting92,56800000.0,0.0002,Entertainment
2,Prilly Latuconsina @prillylatuconsina96,55700000.0,0.0002,Entertainment
3,Ruben Onsu @ruben_onsu,45100000.0,0.0015,Entertainment
4,SYAHRINI @princessyahrini,44200000.0,0.003,Entertainment

In [49]:
df = df[df['ER'] != '-']

In [50]:
ER = df["ER"].unique()
print(ER)

[0.0021 0.0002 0.0015 0.003 0.0024 0.0008 0.0005 0.0007000000000000001
 0.0012 0.0040999999999999995 0.0004 0.0014000000000000002 0.0029 0.0105
 0.0027 0.0074 0.0023 0.0003 0.0058 0.0013 0.005699999999999999 0.0006
 0.0037 0.0001 0.0036 0.0075 0.0009 0.0062 0.0079 0.0011 0.0018 0.006
 0.0338 0.0086 0.0059 0.0101 0.0054 0.011699999999999999 0.0116 0.0044
 0.0026 0.001 0.0291 0.002 0.0016 0.0171 0.0045000000000000005]

In [51]:
df['ER'] = pd.to_numeric(df['ER'])

C:\Users\User\AppData\Local\Temp\ipykernel_30556\4183337282.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ER'] = pd.to_numeric(df['ER'])

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99 entries, 0 to 99
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   NAME            99 non-null     object
 1   FOLLOWERS       99 non-null     float64
 2   ER              99 non-null     float64
 3   TOPIC_CATEGORY  99 non-null     object
dtypes: float64(2), object(2)
memory usage: 3.9+ KB

In [53]:
def classify_type(followers):
    if followers < 10_000:
        return 'Nano'
    elif followers < 50_000:
        return 'Micro'
    elif followers < 500_000:
        return 'Mid-tier'
    elif followers < 1_000_000:
        return 'Macro'
    else:
        return 'Mega'

df['TYPE_INFLUENCER'] = df['FOLLOWERS'].apply(classify_type)

C:\Users\User\AppData\Local\Temp\ipykernel_30556\3882323499.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TYPE_INFLUENCER'] = df['FOLLOWERS'].apply(classify_type)

In [54]:
df.head()

,NAME,FOLLOWERS,ER,TOPIC_CATEGORY,TYPE_INFLUENCER
0,Raffi Ahmad and Nagita Slavina @raffinagita1717,75300000.0,0.0021,Entertainment,Mega
1,Ayu Tingting @ayutingting92,56800000.0,0.0002,Entertainment,Mega
2,Prilly Latuconsina @prillylatuconsina96,55700000.0,0.0002,Entertainment,Mega
3,Ruben Onsu @ruben_onsu,45100000.0,0.0015,Entertainment,Mega
4,SYAHRINI @princessyahrini,44200000.0,0.0030,Entertainment,Mega

In [55]:
rate_map = {
    'Nano': 500,       
    'Micro': 1000,      
    'Mid-tier': 2000, 
    'Macro': 3000,     
    'Mega': 5000       
}

df['CPE'] = df['TYPE_INFLUENCER'].map(rate_map)

C:\Users\User\AppData\Local\Temp\ipykernel_30556\1444047498.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CPE'] = df['TYPE_INFLUENCER'].map(rate_map)

In [56]:
df.head()

,NAME,FOLLOWERS,ER,TOPIC_CATEGORY,TYPE_INFLUENCER,CPE
0,Raffi Ahmad and Nagita Slavina @raffinagita1717,75300000.0,0.0021,Entertainment,Mega,5000
1,Ayu Tingting @ayutingting92,56800000.0,0.0002,Entertainment,Mega,5000
2,Prilly Latuconsina @prillylatuconsina96,55700000.0,0.0002,Entertainment,Mega,5000
3,Ruben Onsu @ruben_onsu,45100000.0,0.0015,Entertainment,Mega,5000
4,SYAHRINI @princessyahrini,44200000.0,0.0030,Entertainment,Mega,5000

In [57]:
df['ENGAGEMENT'] = (df['ER'] * df['FOLLOWERS']) 
df.head()

C:\Users\User\AppData\Local\Temp\ipykernel_30556\2403391885.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ENGAGEMENT'] = (df['ER'] * df['FOLLOWERS'])

,NAME,FOLLOWERS,ER,TOPIC_CATEGORY,TYPE_INFLUENCER,CPE,ENGAGEMENT
0,Raffi Ahmad and Nagita Slavina @raffinagita1717,75300000.0,0.0021,Entertainment,Mega,5000,158130.0
1,Ayu Tingting @ayutingting92,56800000.0,0.0002,Entertainment,Mega,5000,11360.0
2,Prilly Latuconsina @prillylatuconsina96,55700000.0,0.0002,Entertainment,Mega,5000,11140.0
3,Ruben Onsu @ruben_onsu,45100000.0,0.0015,Entertainment,Mega,5000,67650.0
4,SYAHRINI @princessyahrini,44200000.0,0.0030,Entertainment,Mega,5000,132600.0

In [58]:
df['ESTIMATED_COST'] = df['ENGAGEMENT'] * df['CPE']
df.head()

C:\Users\User\AppData\Local\Temp\ipykernel_30556\2995737635.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ESTIMATED_COST'] = df['ENGAGEMENT'] * df['CPE']

,NAME,FOLLOWERS,ER,TOPIC_CATEGORY,TYPE_INFLUENCER,CPE,ENGAGEMENT,ESTIMATED_COST
0,Raffi Ahmad and Nagita Slavina @raffinagita1717,75300000.0,0.0021,Entertainment,Mega,5000,158130.0,790650000.0
1,Ayu Tingting @ayutingting92,56800000.0,0.0002,Entertainment,Mega,5000,11360.0,56800000.0
2,Prilly Latuconsina @prillylatuconsina96,55700000.0,0.0002,Entertainment,Mega,5000,11140.0,55700000.0
3,Ruben Onsu @ruben_onsu,45100000.0,0.0015,Entertainment,Mega,5000,67650.0,338250000.0
4,SYAHRINI @princessyahrini,44200000.0,0.0030,Entertainment,Mega,5000,132600.0,663000000.0

In [59]:
df.head()

,NAME,FOLLOWERS,ER,TOPIC_CATEGORY,TYPE_INFLUENCER,CPE,ENGAGEMENT,ESTIMATED_COST
0,Raffi Ahmad and Nagita Slavina @raffinagita1717,75300000.0,0.0021,Entertainment,Mega,5000,158130.0,790650000.0
1,Ayu Tingting @ayutingting92,56800000.0,0.0002,Entertainment,Mega,5000,11360.0,56800000.0
2,Prilly Latuconsina @prillylatuconsina96,55700000.0,0.0002,Entertainment,Mega,5000,11140.0,55700000.0
3,Ruben Onsu @ruben_onsu,45100000.0,0.0015,Entertainment,Mega,5000,67650.0,338250000.0
4,SYAHRINI @princessyahrini,44200000.0,0.0030,Entertainment,Mega,5000,132600.0,663000000.0

In [60]:
df.drop(columns=[ "ER", "FOLLOWERS", "TYPE_INFLUENCER", "CPE"], inplace=True)
df.head()

C:\Users\User\AppData\Local\Temp\ipykernel_30556\906385258.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=[ "ER", "FOLLOWERS", "TYPE_INFLUENCER", "CPE"], inplace=True)

,NAME,TOPIC_CATEGORY,ENGAGEMENT,ESTIMATED_COST
0,Raffi Ahmad and Nagita Slavina @raffinagita1717,Entertainment,158130.0,790650000.0
1,Ayu Tingting @ayutingting92,Entertainment,11360.0,56800000.0
2,Prilly Latuconsina @prillylatuconsina96,Entertainment,11140.0,55700000.0
3,Ruben Onsu @ruben_onsu,Entertainment,67650.0,338250000.0
4,SYAHRINI @princessyahrini,Entertainment,132600.0,663000000.0

In [61]:
output_path = '../data/fix/instagram_cleaned.csv'  # Sesuaikan nama file sesuai platform
df.to_csv(output_path, index=False)